html {
    overflow: auto;
}

/* Left Column */
.left-col {
    background-color: #efabda;
    color: white;
    width: 300px;
    height: 110vh;
    float: left;
    position: fixed;
    overflow-x: hidden;  /* Prevents scrolling away from sidebar */
    margin-top: -2vh;
    margin-left: 10vw;
    box-shadow: 1px 1px 5px #e554b7;
}

.left-col h1, .left-col h3 {
    text-align: center;
    line-height: 75%;
}

.left-col h1 {
    padding-top: 10vh;
}

.left-col h1:hover, .left-col h3:hover {
    color: #b33d95;
}

.avatar {
    display: block;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    filter: drop-shadow(0px 0px 4px #b33d95);
}

.col-links {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
}

.col-sections {
    padding-top: 2vh;
}

.col-sections a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}

.col-sections a:hover {
    text-decoration: none;
    color: #b33d95;
}

/* Main Section of Page */
.main {
    margin-left: 475px;
    margin-right: 10%;
}

.section-headers {
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding-top: 40px;
    text-decoration: none !important;
    color: #b33d95;
}

.section-headers:hover {
    color: #b33d95;
}

.about-body {
    font-size: medium;
    line-height: 150%;
}

.about-body p {
    padding-top: 15px;
}

.icebreaker {
    display: inline-block;
}

.icebreaker h4 {
    font-weight: bold;
}

.skills-type,
.experience,
.education,
.projects {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px gray;
    margin-top: 25px;
}

/* Education Section */
.education p {
    
}

.education-heading {
    margin-bottom: -2%;
}

.education-title {
    display: inline-block;
    width: 75%;
}

.education-time {
    display: inline-block;
    text-align: right;
    color: #7a7a7a;
    width: 24%;
}

.education-subheading {
    margin-left: 3%;
}

.education-details {
    margin-left: 6%;
    font-size: medium;
}

.education-courses {
    text-align: center;
    margin-bottom: 1%;
}

.badge {
    color: #FFFFFF;
    background-color: #b33d95 !important;
}

/* Skills Section */
.skills-body h3 {
    text-align: left;
    border-left: 100px;
}

.skills-body figure {
    display: inline-block;
    padding-right: 20px;
}

.skills-body figcaption {
    text-align: center;
    padding-top: 20px;
}

.skills-figures {
    text-align: center;
    /* padding-left: 3%; */
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Experience Section */
.experience-heading {
    display: inline;
    border-left: 100px;
    margin-top: 25px;
}

.experience-heading div {
    margin-bottom: -10%;
}

.experience-position {
    display: inline-block;
    width: 49%;
}

.experience-position h3 {
    text-align: left;
}

.experience-company {
    display: inline-block;
    width: 50%;
}

.experience-company h4 {
    text-align: right;
}

.experience hr {
    margin-top: 2%;
    margin-bottom: 2%;
}

.experience-details {
    font-size: medium;
    padding-bottom: 1%;
}

.experience-tools {
    text-align: center;
}

.experience-date {
    display: inline-block;
    width: 49%;
}

.experience-date p {
    text-align: left;
    color: #7a7a7a;
}

.experience-location {
    display: inline-block;
    width: 50%;
    color: #7a7a7a;
}

.experience-location p {
    text-align: right;
}

/* Projects Section */
.project-heading {
    margin-bottom: -2%;
}

.project-title {
    display: inline-block;
    width: 50%;
}

.project-time {
    display: inline-block;
    text-align: right;
    color: #7a7a7a;
    width: 49%;
}

.project-details {
    font-size: medium;
    margin-bottom: 2%;
}

.project-tools {
    text-align: center;
    margin-bottom: 1%;
}

/* Links Section */
.links-body {
    display: block;
    padding-top: 25px;
    padding-bottom: 3vh;
}

.linkedin-btn {
    color: aliceblue;
    background-color: #0077B5 !important;
    border-color: #007fc4 !important;
}

.linkedin-btn img {
    padding-bottom: 3px;
}

.linkedin-btn:hover {
    color: aliceblue !important;
    background-color: #00527e !important;
    border-color: #135d85 !important;
}

.github-btn {
    color: aliceblue;
    background-color: #2c2c2c !important;
    border-color: #333333 !important;
}

.github-btn img {
    padding-bottom: 3px;
}

.github-btn:hover {
    color: aliceblue !important;
    background-color: #151515 !important;
    border-color: #2c2c2c !important;
}

.leetcode-btn {
    color: #333333;
    background-color: #e6e6e6 !important;
    border-color: #e1e1e1 !important;
}

.leetcode-btn img {
    padding-bottom: 3px;
}

.leetcode-btn:hover {
    color: 333333 !important;
    background-color: #c8c8c8 !important;
    border-color: #c0c0c0 !important;
}

.itchio-btn {
    color: aliceblue;
    background-color: #ff5c5a !important;
    border-color: #ff6c6a !important;
}

.itchio-btn img {
    padding-bottom: 3px;
}

.itchio-btn:hover {
    color: aliceblue !important;
    background-color: #e1514e !important;
    border-color: #e35653 !important;
}
