@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    overflow: auto;
}

/* Left Column */
.left-col {
    background-color: rgb(239, 171, 218);
    width: 300px;
    height: 110vh;
    float: left;
    position: fixed;
    overflow-x: hidden;  /* Prevents scrolling away from sidebar */
    margin-top: -2%;
    margin-left: 10%;
}

.left-col h1, h3 {
    text-align: center;
    line-height: 15px;
}

.left-col h1 {
    padding-top: 75px;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.col-sections {
    padding-top: 20px;
}

.col-sections a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}

.col-sections:hover a {
    text-decoration: none;
}

/* Main Section of Page */
.main {
    margin-left: 475px;
    margin-right: 10%;
}

.section-headers {
    font-size: 1.4em;
    font-weight: bold;
    display: block;
    padding-top: 40px;
    text-decoration: none !important;
}

/* Links Section */
.links-body {
    display: block;
    padding-top: 25px
}

.linkedin-btn {
    color: aliceblue;
    background-color: #0077B5 !important;
    border-color: #007fc4 !important;
}

.linkedin-btn img {
    padding-bottom: 3px;
}

.linkedin-btn:hover {
    color: aliceblue !important;
    background-color: #00527e !important;
    border-color: #135d85 !important;
}

.github-btn {
    color: aliceblue;
    background-color: #2c2c2c !important;
    border-color: #333333 !important;
}

.github-btn img {
    padding-bottom: 3px;
}

.github-btn:hover {
    color: aliceblue !important;
    background-color: #151515 !important;
    border-color: #2c2c2c !important;
}

.leetcode-btn {
    color: #333333;
    background-color: #e6e6e6 !important;
    border-color: #e1e1e1 !important;
}

.leetcode-btn img {
    padding-bottom: 3px;
}

.leetcode-btn:hover {
    color: 333333 !important;
    background-color: #c8c8c8 !important;
    border-color: #c0c0c0 !important;
}

.itchio-btn {
    color: aliceblue;
    background-color: #ff5c5a !important;
    border-color: #ff6c6a !important;
}

.itchio-btn img {
    padding-bottom: 3px;
}

.itchio-btn:hover {
    color: aliceblue !important;
    background-color: #e1514e !important;
    border-color: #e35653 !important;
}

/* Skills Section */
.skills-type {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px gray;
    margin-top: 25px;
}

.skills-body h3 {
    text-align: left;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid rgb(225, 225, 225); */
    border-left: 100px;
}

.skills-body figure {
    display: inline-block;
    padding-right: 20px;
}

.skills-body figcaption {
    text-align: center;
    padding-top: 20px;
}

.skills-figures {
    padding-left: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Experience Section */
.experience {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px gray;
    margin-top: 25px;
}

.experience-heading {
    display: inline;
    position: relative;
    padding-bottom: 10px;
    border-left: 100px;
}

.experience-heading h3 {
    float: left;
    margin-top: 25px;
}

.experience-heading h4 {
    float: right;
    padding-top: 25px;
}

.experience-details {
    padding-top: 6%;
}

.experience-footer {
    bottom: 0;
}

.experience-date {
    float: left;
}

.experience-location {
    float: right;
}