@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.leftcol {
    background-color: pink;
    width: 170px;
    height: auto;
    float: left;
}

/* .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.sections {
    text-align: center;
    /* color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px; */
}